@page
@model Ligum_Roller.Pages.DeleteAllRecordsModel
@{
}

<h3>Ste si istý, že chcete zmazať všetky záznamy?</h3>
<div>
	<hr />

	<form method="post">
		<input type="submit" value="Zmazať" class="btn btn-danger" />
		<a class="btn btn-secondary" asp-page="./Index">Späť na všetky záznamy</a>
	</form>
</div>
