@page
@model Ligum_Roller.Pages.DeleteRecordsByDateModel
@{
}

<h3>Ste si istý, že chcete zmazať všetky merania z tohto dátumu?</h3>
<div>
	<h4>Dátum: @Model.Id</h4>
	<hr />

	<form method="post">
		<input type="submit" value="Zmazať" class="btn btn-danger" />
		<a class="btn btn-secondary" href="@Request.Headers["Referer"].ToString()">Vrátiť sa späť</a>
	</form>
</div>
