@page
@model Ligum_Roller.Pages.IndexModel
@{
}

<form asp-page-handler="Upload" method="post" enctype="multipart/form-data">
	<p style="margin-bottom: 1rem;">
		<a class="btn btn-secondary" asp-page="./Date">Zobraziť jednotlivé merania</a>
		<input type="file" asp-for="FileUpload" id="selectedFile" style="display: none;" onchange="this.form.submit()" />
		<input type="button" class="btn btn-link" value="Nahrať súbor" onclick="document.getElementById('selectedFile').click();" />
	</p>
</form>

<table class="table">
	<thead>
		<tr>
			<th>
				Dátum
			</th>
			<th>
				<a asp-page="./DeleteAllRecords">Zmazať všetko</a>
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@if (Model.Records != null)
			@foreach (var item in Model.Records)
			{
				<tr>
					<td>
						<a asp-page="./Date" asp-route-id="@item">
							<img src="~/folder_icon.png" alt="icon" width="50" height="50" style="margin-right: 10px">
							@item
						</a>
					</td>
					<td class="text-center-vertical">
						<a asp-page="./DeleteRecordsByDate" asp-route-id="@item">Zmazať</a>
					</td>
				</tr>
			}
	</tbody>
</table>