#logo {
	width: 145px;
	height: auto;
}

.text-center {
	text-align: center;
}

.tg {
	border-collapse: collapse;
	width: 100%;
	border-color: black;
	border-spacing: 0;
	border-style: solid;
	border-width: 1px;
}

.tg td {
	border-style: solid;
	border-width: 0px;
	font-family: Arial, sans-serif;
	font-size: 14px;
	overflow: hidden;
	padding: 10px 5px;
	word-break: normal;
}

.tg .tg-value {
	text-align: left;
}

.tg .tg-name {
	text-align: left;
	font-weight: bold;
}

.tg .tg-value .p-text {
	margin: 0;
	padding: 0;
	vertical-align: top;
}

.tg .tg-logo {
	border-left: 1px solid black;
	border-bottom: 1px solid black;
	vertical-align: top;
	text-align: center;
	margin: 0px;
	padding: 0px;
}

.tg .tg-empty {
	border-left: 1px solid black;
}

.tg tr {
	border-bottom: 1px solid black;
}

.tg tr:hover {
	background-color: white;
}

.bold-input {
	font-weight: bold;
	width: 152px;
}
